<header class="header">    
  <div class="container-fluid">
    <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1400.jpg" alt="first">
  </div>
    <div class="modulesecond">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1394.jpg" alt="second">
    </div>
    <div class="modulethird">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1234.jpg" alt="third">
    </div>
    <div class="modulefour">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_1002.jpg" alt="four">
    </div>
    <div class="modulefive">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_784.jpg" alt="five">
    </div>
    <div class="modulesix">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_767.jpg" alt="six">
    </div>
    <div class="moduleseven">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_16_9,c_fill,g_auto__c_scale,w_720.jpg" alt="seven">
    </div>
    <div class="moduleeight">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_694.jpg" alt="eight">
    </div>
    <div class="modulenine">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_630.jpg" alt="nine">
    </div>
    <div class="moduleten">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_16_9,c_fill,g_auto__c_scale,w_596.jpg" alt="ten">
    </div>
    <div class="moduleeleven">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_4_3,c_fill,g_auto__c_scale,w_538.jpg" alt="eleven">
    </div>
    <div class="modulemax">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_c_scale,w_480.jpg" alt="twelve ">
    </div>
    <div class="modulemiddle">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_450.jpg" alt="thirteen">
    </div>
    <div class="modulemin">
      <img src="../img/sean-o-KMn4VEeEPR8-unsplash_1_s6zmfh_ar_1_1,c_fill,g_auto__c_scale,w_200.jpg" alt="fourteen">
    </div>
    <div class="btnmodal">
      <button class="btn">View</button>
    </div>
    <div class="modalmodal">
      <div class="modals">
        <div class="modaloverlay">
          <div class="mainmodal">Modal</div>
      </div>
    </div>
    

  </div>
</header>
